@media screen and (max-width: 768px) {
  span.hs {
    display: none;
  }
  .events .event {
    margin-left: 0;
  }
}
@media screen and (max-width: 550px) {
  .first .item {
    padding: 0 5%;
  }
}
@media screen and (max-width: 480px) {
  .first .item {
    padding: 0 10px;
  }
}
@media screen and (max-width: 360px) {
  h2 {
    font-size: 24px;
  }
  h4 {
    font-size: 16px;
  }
  nav,
  .search {
    font-size: smaller;
  }
}
@media screen and (min-width: 768px) {
  .search {
    font-size: large;
  }
  .search h4 {
    letter-spacing: 1px;
  }
  .events .event.col-md-4 {
    width: 48.8% !important;
  }
  .events .event.col-md-4:nth-of-type(2n) {
    margin-right: 0;
  }
}
@media screen and (min-width: 992px) {
  .search > h2 {
    margin-bottom: 3%;
    font-size: 35px;
  }
  .search > h4 {
    font-size: 19px;
  }
  .search button {
    text-transform: uppercase;
  }
  .first .item {
    padding: 0 17%;
  }
  .events .event.col-md-4 {
    width: 32.2% !important;
  }
  .events .event.col-md-4:nth-of-type(2n) {
    margin-right: 5px;
  }
  .events .event.col-md-4:nth-of-type(3n) {
    margin-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .events .event.col-lg-3 {
    width: 24.2% !important;
  }
  .events .event.col-lg-3:nth-of-type(2n),
  .events .event.col-lg-3:nth-of-type(3n) {
    margin-right: 5px;
  }
  .events .event.col-lg-3:nth-of-type(4n) {
    margin-right: 0;
  }
  .second .item,
  .third .item {
    padding: 0 3%;
  }
}
