/* variables */
/* mixins */
/* styles */
.bgblue {
  background-color: #007eb1;
}
.bggreen {
  background-color: #15aca3;
}
.bggray {
  background-color: #ededed;
}
.top-blue {
  background-image: linear-gradient(to bottom, #65aace, transparent);
}
.top-brown {
  background-image: linear-gradient(to bottom, #c6b08c, transparent);
}
.top-green {
  background-image: linear-gradient(to bottom, #2daf6e, transparent);
}
.top-pink {
  background-image: linear-gradient(to bottom, #ba8d9b, transparent);
}
.swiper-container {
  width: 100%;
  height: 100%;
  position: fixed;
}
.swiper-slide {
  background-position: center;
  background-size: cover;
}
.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background-color: #11aba1 !important;
}
[class^=swiper-button] {
  display: none;
}
.container-fluid {
  position: relative;
  top: 100%;
  z-index: 99;
}
.topbar {
  font-size: 0.9em;
  padding: 12px 10px;
  color: #fff;
  float: right;
  position: fixed;
  top: 0;
  z-index: 100;
}
.topbar a {
  text-decoration: none;
  color: #fff;
}
.caret-down {
  display: inline-block;
  width: 0;
  height: 0;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-top: 5px solid #fff;
  vertical-align: middle;
}
.wrapper {
  background-color: rgba(0,0,0,0.7);
}
@media screen and (min-width: 992px) {
  .topbar a {
    padding-right: 50px;
  }
  .topbar a:last-of-type {
    float: right;
  }
}
