bgBlue = rgb(0, 126, 177)
bgGreen = rgb(21, 172, 163)

center(wo)
    position absolute
    margin-left 0% - (wo / 2)
    left 50%

shadow(hoff, voff, blur, color)
    -webkit-box-shadow: hoff voff blur color
    -moz-box-shadow: hoff voff blur color
    box-shadow: hoff voff blur color

html, body
    height 100%

body
    overflow-x hidden
    overflow-y scroll

.topbar
    width 100%
    font-size 0.9em
    font-weight bold
    padding 10px 25px
    background-color bgBlue
    color white
    float right
    position fixed
    top 0
    z-index 200 !important
    shadow(0, 0, 5px, rgba(0, 0, 0, .8))

    a
        text-decoration none
        color white

        &:first-child
            color black

            img
                width 27px
                height 27px
                border-radius 50%

.caret-down
    display inline-block
    width 0
    height 0
    border-right 5px solid transparent
    border-left 5px solid transparent
    border-top 5px solid black
    vertical-align middle

// gradients
//    background-image linear-gradient(to bottom, rgba(101, 170, 206, 1), transparent)

.swiper-container
    width 100%
    height 100%
    position fixed

.swiper-slide
    background-position center
    background-size cover

.swiper-pagination
    z-index 51

.swiper-pagination-bullet
    width 15px
    height 15px
    opacity 1

.swiper-pagination-bullet-active
    background-color rgb(17, 171, 161) !important

[class^=swiper-button]
    display none

.shade
    position absolute
    top 0
    right 0
    bottom 0
    left 0
    background-color rgba(0, 0, 0, .3)
    z-index 50

.container-fluid
    position absolute
    top 100%
    z-index 50

.search
    position relative
    top 30%
    z-index 50
    color white

    h3, h5
        margin 0

    h5
        margin-bottom 7%

    input, button
        border none
        opacity .8

    input
        display block
        margin-bottom 7%
        color black
        padding 6px
        outline none

    button
        padding 5px 10px

    .upload
        background-color bgGreen

    .register
        color bgGreen
        background-color white

.wrapper
    background-color bgBlue
    shadow(0, 0, 5px, rgba(0, 0, 0, .8))

@media screen and (min-width 992px)
    .topbar
        a
            padding-right 50px

            &:last-of-type
                float right
