/* variables */
/* mixins */
/* styles */
.bgblue {
  background-color: #007eb1;
}
.bggreen {
  background-color: #15aca3;
}
.bggray {
  background-color: #ededed;
}
.top-blue {
  background-image: linear-gradient(to bottom, #65aace, transparent);
}
.top-brown {
  background-image: linear-gradient(to bottom, #c6b08c, transparent);
}
.top-green {
  background-image: linear-gradient(to bottom, #2daf6e, transparent);
}
.top-pink {
  background-image: linear-gradient(to bottom, #ba8d9b, transparent);
}
.container-fluid {
  position: relative;
}
.topbar {
  font-size: 0.9em;
  padding: 12px 10px;
  color: #fff;
  float: right;
  position: fixed;
  z-index: 100;
}
.topbar a {
  text-decoration: none;
  color: #fff;
}
.caret-down {
  display: inline-block;
  width: 0;
  height: 0;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-top: 5px solid #fff;
  vertical-align: middle;
}
.slider {
  position: fixed;
  top: 51px;
  left: 0;
}
.slider .carousel .item::after {
  content: " ";
  z-index: 1;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.3);
}
.slider #carousel img {
  width: 100%;
  max-height: 100%;
}
.slider .carousel-indicators {
  bottom: 0;
  margin-bottom: 0;
}
.slider .carousel-indicators li {
  background-color: #fff;
  width: 15px;
  height: 15px;
  margin: 3px;
}
.slider .carousel-indicators .active {
  background-color: #11aba1 !important;
  border: none !important;
  width: 17px;
  height: 17px;
}
.wrapper {
  position: absolute;
  z-index: 99;
  background-color: rgba(0,0,0,0.7);
}
@media screen and (min-width: 992px) {
  .topbar a {
    padding-right: 50px;
  }
  .topbar a:last-of-type {
    float: right;
  }
}
