bgBlue = rgb(0, 126, 177)
bgGreen = rgb(21, 172, 163)

center(wo)
    position absolute
    margin-left 0% - (wo / 2)
    left 50%

html, body
    height 100%

body
    overflow-x hidden
    overflow-y scroll

.topbar
    width 100%
    font-size 0.9em
    padding 12px 10px
    background-color bgBlue
    color white
    float right
    position fixed
    top 0
    z-index 200 !important

    a
        text-decoration none
        color white

.caret-down
    display inline-block
    width 0
    height 0
    border-right 5px solid transparent
    border-left 5px solid transparent
    border-top 5px solid white
    vertical-align middle

// gradients
//    background-image linear-gradient(to bottom, rgba(101, 170, 206, 1), transparent)

.swiper-container
    width 100%
    height 100%
    position fixed

.swiper-slide
    background-position center
    background-size cover

.swiper-pagination-bullet
    width 15px
    height 15px
    opacity 1

.swiper-pagination-bullet-active
    background-color rgb(17, 171, 161) !important

[class^=swiper-button]
    display none

.container-fluid
    position relative
    top 100%
    z-index 50

.wrapper
    background-color rgba(0, 0, 0, .7)

@media screen and (min-width 992px)
    .topbar
        a
            padding-right 50px

            &:last-of-type
                float right
