@import "../base"

.bgimg
    position relative
    height 550px
    background-image url("../../img/beach.png")
    background-position center
    background-size cover

    .main
        width 100%
        position absolute
        center(100%)
        margin-top 150px
        font-size larger

        *
            margin 3px 0

        h3, p
            color white

        p#val
            color rgb(80, 83, 83)

        ul
            color bgBlue

