{% extends '::base.html.twig' %}
{% block body %}
    {% for item in entities %}
        <p>{{ item.content }}</p>
    {% else %}
        <h1>Sorry, 0 notifications for you</h1>
    {% endfor %}
{% endblock %}